{% use "form_table_layout.html.twig" %}

{%- block form_row -%}
    <tr>
        <th>
            {{- form_label(form) -}}
        </th>
        <td>
            {{- form_errors(form) -}}
            {{- form_widget(form) -}}
        </td>
    </tr>
{%- endblock form_row -%}
