#contact-bar {
  background: $leadingColor;
  color: white;
  font-size: 90%;
  padding: 4px 0;

  a {
    color: white;
  }
}

#contact-bar-col {
  display: flex;
}

.contact-data {
  flex-grow: 1;
}

@include media-breakpoint-down(sm) {
  #contact-bar-col {
    flex-wrap: wrap;
  }

  .site-logo, .social-icons {
    width: 50%;
  }

  .contact-data {
    order: 1;
    text-align: center;
  }
}

#home-logo {
  &:hover {
    text-decoration: none;
  }

  img {
    margin-right: 1rem;
  }
}
