#contact-bar {
  background: $leadingColor;
  color: white;
  font-size: 90%;
  padding: 4px 0;

  a {
    color: white;
  }
}

#home-logo {
  &:hover {
    text-decoration: none;
  }

  img {
    margin-right: 1rem;
  }
}
