{% extends 'layout/base-with-sidebar.html.twig' %}

{% block title %}Koszyk - decARTe{% endblock %}

{% block contents %}
    <h1>Koszyk</h1>

    <ul id="cart_items">
        <li>Brak produktów w koszyku.</li>
    </ul>
{% endblock %}
