{% extends '@App/layout/base-with-sidebar.html.twig' %}

{% block title %}{{ page.getTitle() }} - decARTe{% endblock %}

{% block contents %}
    <h1>{{ page.getTitle() }}</h1>

    {{ page.getContents()|raw }}
{% endblock %}
