<!DOCTYPE html>
<html>
<head>
    <title>Błąd serwera - decARTe</title>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
            text-align: center;
        }

        a {
            text-decoration: none;
        }

        #homepage {
            font-size: 200%;
        }
    </style>
</head>
<body>

<a href="{{ path('default') }}"><img src="{{ asset('img/2018/decarte-logo.svg') }}" width="400" height="400" alt="decARTe logo"></a>

<h1>Niestety wystąpił błąd :(</h1>

<p>Nasz dział IT został już powiadomiony o problemie.<br>
Przejdź do strony głównej i spróbuj jeszcze raz.</p>

<p><a href="{{ path('default') }}" id="homepage">Przejdź do strony głównej</a></p>

</body>
</html>
