{% extends 'layout/base-with-sidebar.html.twig' %}

{% block contents %}
    <h3 style="text-align: center">
        <strong>Dziękujemy za skorzystanie z serwisu próbkowego firmy decARTe.</strong>
    </h3>

    <p style="text-align: center">
        Próbki wyślemy w ciągu maksymalnie 7 dni roboczych licząc od dnia opłacenia zamówienia.<br>
        <strong>Numer konta został wysłany na Państwa adres e-mail.</strong><br><br>
        <strong>UWAGA:</strong> Jeśli nie znajdą Państwo wiadomości od nas, bardzo prosimy o sprawdzenie folderu "Spam"
        (dotyczy głównie poczty gmail.com) oraz zakładki "Oferty" (dotyczy głównie wp.pl).<br><br>
        W razie jakichkolwiek problemów prosimy o kontakt
        - tel. 733-325-292.
    </p>
{% endblock %}
