<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="vendor/autoload.php">
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <env name="KERNEL_CLASS" value="Decarte\Shop\Kernel"/>
    <env name="APP_ENV" value="test"/>
    <env name="APP_DEBUG" value="1"/>
    <env name="APP_SECRET" value="47eb5838437d29adaaaba06efe1620bcf121eb2f"/>
  </php>
  <testsuites>
    <testsuite name="Main tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxText outputFile="php://stdout"/>
  </logging>
</phpunit>
