h1.samples {
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
}

h2.samples {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

@include media-breakpoint-up(md) {
  .samples-products {
    display: flex;
    justify-content: space-between;

    .form-group {
      width: 49%;
    }
  }
}
