#order-total-price {
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: right;

  span {
    font-size: 1.25rem;
  }
}

.order-submit {
  a {
    float: left;
  }

  input {
    float: right;
  }
}

@include media-breakpoint-up(md) {
  .order-delivery-and-realization {
    display: flex;
    justify-content: space-between;
  }

  .order-delivery, .order-realization {
    width: 50%;
  }
}
