{% extends 'baseSidebar.html.twig' %}

{% block contents %}
    <p style="text-align: center">
        <strong>Dziękujemy za skorzystanie z serwisu próbkowego firmy decARTe.</strong>
    </p>

    <p style="text-align: center">
        Próbki wyślemy w ciągu maksymalnie 7 dni roboczych licząc od dnia opłacenia zamówienia.<br>
        Numer konta został wysłany na Państwa adres e-mail.<br>
        W razie potrzeby pilnego kontaktu - tel. 793-697-390 lub 600-151-804.
    </p>
{% endblock %}
