{% extends 'layout/base-with-sidebar.html.twig' %}

{% block title %}Czcionki - decARTe{% endblock %}

{% block contents %}
    {% include 'static/texts/menu.html.twig' %}

    <h1>Czcionki</h1>

    <ul id="fonts">
        <li><img src="/fonts/amatic.png" width="214" height="43" alt="Amatic"></li>
        <li><img src="/fonts/amazone.png" width="290" height="44" alt="Amazone"></li>
        <li><img src="/fonts/andalus.png" width="279" height="45" alt="Andalus"></li>
        <li><img src="/fonts/bellica.png" width="240" height="47" alt="Bellica"></li>
        <li><img src="/fonts/bernardo_moda.png" width="265" height="45" alt="Bernardo Moda"></li>
        <li><img src="/fonts/bernhard_tango.png" width="271" height="43" alt="Bernhard Tango"></li>
        <li><img src="/fonts/braxton.png" width="266" height="44" alt="Braxton"></li>
        <li><img src="/fonts/century_gothic.png" width="323" height="37" alt="Century Gothic"></li>
        <li><img src="/fonts/century_schoolbook.png" width="314" height="36" alt="Century Schoolbook"></li>
        <li><img src="/fonts/courier_new.png" width="382" height="37" alt="Courier New"></li>
        <li><img src="/fonts/freeform.png" width="324" height="41" alt="Freeform"></li>
        <li><img src="/fonts/freehand.png" width="316" height="45" alt="Freehand"></li>
        <li><img src="/fonts/gill_sans.png" width="235" height="43" alt="Gill Sans"></li>
        <li><img src="/fonts/grand_hotel.png" width="247" height="51" alt="Grand Hotel"></li>
        <li><img src="/fonts/great_vibes.png" width="253" height="48" alt="Great Vibes"></li>
        <li><img src="/fonts/lobster.png" width="308" height="45" alt="Lobster"></li>
        <li><img src="/fonts/monotype_corsiva.png" width="286" height="44" alt="Monotype Corsiva"></li>
        <li><img src="/fonts/murray_hill.png" width="258" height="44" alt="Murray Hill"></li>
        <li><img src="/fonts/segoe_script.png" width="370" height="44" alt="Segoe Script"></li>
        <li><img src="/fonts/shelley_allegro.png" width="316" height="58" alt="Shelley Allegro"></li>
        <li><img src="/fonts/trajan_pro.png" width="382" height="40" alt="Trajan Pro"></li>
    </ul>
{% endblock %}
