{% extends 'layout/base-with-sidebar.html.twig' %}

{% block title %}Grafiki - decARTe{% endblock %}

{% block contents %}
    {% include 'static/texts/menu.html.twig' %}

    <h3 style="text-align: center">Ornamenty</h3>

    <div class="grafiki">
        <img src="/img/teksty/ornamenty1.png" width="860" height="575" alt="Ornamenty 1">
        <img src="/img/teksty/ornamenty2.png" width="860" height="495" alt="Ornamenty 2">
    </div>

    <h3 style="text-align: center">Grafiki</h3>

    <div class="grafiki">
        <img src="/img/teksty/grafiki1.png" width="860" height="576" alt="Grafiki 1">
        <img src="/img/teksty/grafiki2.png" width="860" height="563" alt="Grafiki 2">
    </div>
{% endblock %}
