{% extends 'layout/base-with-sidebar.html.twig' %}

{% block title %}Przykładowe teksty zaproszeń ślubnych - decARTe{% endblock %}

{% block contents %}
    {% include 'static/texts/menu.html.twig' %}

    <h3 style="text-align: center">Prezentacja tekstów - stąd możesz skopiować wybrany tekst</h3>

    <p style="text-align: center">Pamiętajcie, przedstawione poniżej teksty to&nbsp;jedynie nasze propozycje.<br>Treść zaproszenia może być dowolna. To Wy decydujecie, co ma być nadrukowane.</p>

    <div class="teksty">
        <ol>
            <li>
                <p>Wszem i wobec i każdemu z osobna wiadomym się czyni,<br>
                    iż pięknym uczuciem miłości połączeni, ślubować sobie będą<br>
                    miłość, wierność i uczciwość małżeńską</p>

                <p>Mariola Witalska i Robert Brzozowski</p>

                <p>Owe zaślubiny przed Bogiem,<br>
                    powagą Kościoła potwierdzamy<br>
                    22 kwietnia 2017 roku,<br>
                    gdy dzwony wybiją godzinę 14:00<br>
                    w kościele św. Trójcy w Krakowie</p>

                <p>Na świadków naszego szczęścia serdecznie zapraszamy</p>

                <p>Sz.P. ...................................................</p>

                <p>Po ceremonii miło nam będzie gościć Sz.P<br>
                    na przyjęciu weselnym w restauracji „Lotos” w Krakowie</p>

                <p>Prosimy o potwierdzenie przybycia do dnia ........</p>
            </li>

            <li>
                <p>Zakochani i świadomi, że ich miłość to nie wiatr,<br>
                    mają zaszczyt zawiadomić, że chcą razem iść przez świat.</p>

                <p>Julia Antczak i Waldemar Kryzewicz</p>

                <p>wraz z Rodzicami<br>
                    serdecznie zapraszają</p>

                <p>Sz.P. ....................................................</p>

                <p>na uroczystość zaślubin, która odbędzie się<br>
                    22 września 2006 roku o godzinie 14:00<br>
                    w kościele św. Jakuba w Poznaniu</p>

                <p>Po ceremonii zapraszamy również na przyjęcie weselne<br>
                    w restauracji „Ewa” w Poznaniu</p>
            </li>
            <li>
                <p>Irena Jakubowska i Mariusz Kasprzak</p>

                <p>w imieniu Rodziców i własnym<br>
                    z radością zapraszają</p>

                <p>Sz.P. ....................................</p>

                <p>na swój ślub, który odbędzie się<br>
                    dnia 10 czerwca 2007 roku o godzinie 18:00<br>
                    w Katedrze św. Dominika w Sosnowcu</p>

                <p>Po uroczystości zaślubin miło nam będzie gościć<br>
                    Szanownych Państwa na przyjęciu weselnym,<br>
                    które odbędzie się w restauracji „Marta” w Sosnowcu</p>
            </li>
            <li>
                <p>Maria Kasperek i Jan Czerwiński</p>

                <p>wraz z Rodzicami<br>
                    mają zaszczyt zaprosić</p>

                <p>W.P. ....................................</p>

                <p>na uroczyste przyjęcie Sakramentu Małżeństwa,<br>
                    które będzie miało miejsce dnia 23 marca 2006 roku<br>
                    o godzinie 15:00 w kościele św. Anny<br>
                    przy ulicy Nadrzecznej 6 we Wrocławiu</p>

                <p>Po ceremonii zaślubin serdecznie zapraszamy<br>
                    na przyjęcie weselne w restauracji „Ewa” we Wrocławiu</p>
            </li>
            <li>
                <p>By obyczajom prastarym zadość uczynić,<br>
                    wszem i wobec ogłaszają,<br>
                    że dnia 12 czerwca 2006 roku o godzinie 13:00<br>
                    w kościele św. Andrzeja w Katowicach<br>
                    ślubować sobie będą miłość  i wierność małżeńską</p>

                <p>Anna Nowak i Bolesław Kowalski</p>

                <p>Na uroczystość tę mają zaszczyt zaprosić</p>

                <p>Sz.P. ..........................................</p>

                <p>Rodzice i Narzeczeni</p>
            </li>
            <li>
                <p>„W opinii tego świata zawarcie małżeństwa<br>
                    jest uwieńczeniem wszystkiego jak w komedii.<br>
                    Prawda jednak jest dokładnie odwrotna:<br>
                    małżeństwo to początek wszystkiego.”</p>

                <p>Dlatego też z wielką radością zapraszamy</p>

                <p>Sz.P. ..........................................</p>

                <p>na uroczystość zawarcia przez nas Związku Małżeńskiego,<br>
                    która odbędzie się dnia 10 września 2005 roku o godzinie 15:00<br>
                    w kościele św. Magdaleny w Szczecinie</p>

                <p>Anna Nowa i Maciej Brzóska</p>

                <p>Po uroczystości zaślubin miło nam będzie gościć Sz.P.<br>
                    na przyjęciu weselnym, które odbędzie się<br>
                    w restauracji „Magnolia” w Szczecinie</p>
            </li>
            <li>
                <p>Teatr Umyślnie Straconej Wolności zaprasza na przedstawienie<br>
                    pod tytułem „A potem żyli długo i szczęśliwie”<br>
                    Adaptacja sztuki przez życie napisanej w 3 Aktach</p>

                <p>PREMIERA<br>
                    10 marca 2006 r.</p>

                <p>OBSADA<br>
                    w rolach głównych</p>

                <p>Panna Młoda:   Anna Jabłońska<br>
                    Pan Młody:   Cezary Trela</p>

                <p>w pozostałych rolach udział biorą: Ksiądz, Świadkowie, Rodzice, Goście i Gapie</p>

                <p>AKT I „Dla Duszy”<br>
                    Ślub Kościelny 10 marca 2006 rok, godzina 10:00 w kościele św. Marka w Płocku</p>

                <p>AKT II „Dla Ciała”<br>
                    Przyjęcie weselne w restauracji "Viktoria", przy ulicy Leśnej 33 w Płocku</p>

                <p>AKT III „Noc Poślubna”<br>
                    Bez udziału widowni!</p>
            </li>
            <li>
                <p>Trzy czwarte z miłości, dwie piąte z rozsądku,<br>
                    ciut z wyrachowania, trochę dla porządku,<br>
                    kapkę dla tradycji, tyci dla reklamy,<br>
                    oświadczamy wszystkim, że się pobieramy</p>

                <p>Anna Kowalska i Łukasz Nowak</p>

                <p>z radością zawiadamiają,<br>
                    że dnia 12 maja 2009 r. o godz. 16:00<br>
                    obrączki sobie założą i Mendelssohna wysłuchają<br>
                    podczas Mszy Świętej w Kościele Św. Pawła w Gdańsku</p>

                <p>A chcąc świetności i blasku uroczystości ślubnej przysporzyć</p>

                <p>Sz.P. ...........................................................</p>

                <p>serdecznie proszą<br>
                    Rodzice i Narzeczeni.</p>

                <p>Po uroczystości zaślubin zapraszamy na przyjęcie weselne,<br>
                    które odbędzie się w restauracji „Marta” w Łęgowie</p>
            </li>
            <li>
                <p>Sąd Najmilszy po rozpatrzeniu sprawy</p>

                <p>Anny Kowal i Tomasza Jaworskiego</p>

                <p>oskarżonych o miłość wzajemną<br>
                    uznaje ich winnymi zarzucanego im czynu,<br>
                    skazując obydwoje na karę dożywotniego związku małżeńskiego</p>

                <p>Wyrok sądu jest prawomocny i nie podlega rewizji.<br>
                    Ogłoszony zostanie dnia 8 maja 2009 r. o godz. 15.00<br>
                    w Parafii Opatrzności Bożej w Kielcach</p>

                <p>Jednocześnie zapraszamy na przyjęcie weselne,<br>
                    które odbędzie się w restauracji „Roma” w Kielcach</p>
            </li>
            <li>
                <p>Pełna szczerych chęci i ochoty<br>
                    Marta Kowalska</p>

                <p>oraz Bogu ducha winien<br>
                    Tomasz Osowski</p>

                <p>ogarnięci nieodparcie wzniosłymi ideałami<br>
                    życia małżeńskiego oraz gwoli skrócenia<br>
                    niebezpiecznie przedłużającego się narzeczeństwa<br>
                    postanowili zawrzeć związek małżeński<br>
                    dnia 1 stycznia 2000 roku o godzinie 12:00<br>
                    w Kościele Św. Jakuba w Olsztynie</p>

                <p>Na tę uroczystość serdecznie zapraszają</p>

                <p>Sz.P. ............................................</p>

                <p>Rodzice i Narzeczeni</p>
            </li>
            <li>
                <p>Kilka lat temu rzecz się ta działa dziewczyna piękna<br>
                    Anna Kowalska<br>
                    chłopca poznała. Chłopak - przystojniak w nią zapatrzony<br>
                    Andrzej Nowak<br>
                    powiedział sobie: „Chcę takiej Żony!”</p>

                <p>Chodził, przytulał, kwiatki kupował, kochał namiętnie, w rękę całował.<br>
                    Dziewczyna dłużną nie zostawała, miłość do chłopca odwzajemniała.<br>
                    Jak zwyczaj każe się zaręczyli, ślub i wesele w mig ustalili</p>

                <p>Teraz przed Bogiem ślubować będą<br>
                    miłość, wierność i uczciwość małżeńską!<br>
                    A ceremonia miejsce mieć będzie<br>
                    dnia 29 kwietnia 2017 roku o godzinie 16:00<br>
                    w Kościele św. Jakuba w Poznaniu</p>

                <p>By blasku dodać uroczystości, pragniemy widzieć wśród naszych gości</p>

                <p>Sz.P. .............................................................</p>

                <p>A tuż po ślubie, już jako Nowakowie,<br>
                    w sali weselnej „Aurora” w Luboniu podejmiemy Was – Gości</p>

                <p>Upraszamy zatem o potwierdzenie przybycia do dnia ………………………</p>

                <p>Bardzo liczymy, że przybędziecie i razem z nami się bawić będziecie!</p>

                <p>Narzeczeni wraz z Rodzicami</p>
            </li>
            <li>
                <p>W najpiękniejszym dniu swego życia<br>
                    22 kwietnia 2017 roku,<br>
                    gdy wskazówki zegara wskażą godzinę 17:00<br>
                    w Kościele pw. św. Jakuba w Szczecinie<br>
                    rozpoczną wspólną drogę życia</p>

                <p>Irena Jakubowska i Mariusz Kasprzak</p>

                <p>Na uroczystość mają zaszczyt zaprosić</p>

                <p>Sz. P. .................................................</p>

                <p>Narzeczeni wraz z Rodzicami</p>

                <p>Przyjęcie weselne odbędzie się w Restauracji Magnolia w Szczecinie,<br>
                    gdzie mamy nadzieję gościć Szanownych Państwa po ceremonii zaślubin</p>
            </li>
            <li>
                <p>Julia Antczak i Maciej Kryzewicz</p>

                <p>za wielki honor poczytują sobie wiadomym uczynić Mości Dobrodziejom,<br>
                    iż zdecydowali się rodzinę założyć, a rody więzami krwi połączyć</p>

                <p>A stanie się to dnia 22 kwietnia Anno Domini 2017<br>
                    w obliczu władzy duchownej i zgromadzonych Gości<br>
                    w Kościele pw. Wniebowzięcia NMP w Krakowie,<br>
                    gdy zegary godzinę 15:00 wskażą</p>

                <p>O czym z należytym pokłonem zawiadamiają</p>

                <p>Sz.P. ………………………………………………………………………………</p>

                <p>i na ucztę weselną zapraszają do Domu Weselnego Aurora w Krakowie<br>
                    Rodzice i Narzeczeni</p>
            </li>
            <li>
                <p>Ja, Emilia Stefańska<br>
                    i<br>
                    Ja, Krzysztof Stroiński</p>

                <p>już wkrótce powiemy sobie „TAK”<br>
                    dnia 22 kwietnia 2017 roku o godzinie 17:00<br>
                    w podniosłej atmosferze staniemy przed ołtarzem<br>
                    w kościele Chrystusa Króla w Gdyni<br>
                    i wypowiemy tekst przysięgi małżeńskiej.</p>

                <p>Miło nam będzie, jeśli</p>

                <p>Sz.P. ………………………………………………………………………………</p>

                <p>zechcą dzielić z nami radość tej niezwykłej chwili.</p>

                <p>Będzie to jeden z najważniejszych dni w naszym życiu</p>
            </li>
        </ol>
    </div>
{% endblock %}
