{% extends 'layout/base-with-sidebar.html.twig' %}

{% block title %}Wierszyki ślubne - decARTe{% endblock %}

{% block contents %}
    {% include 'static/texts/menu.html.twig' %}

    <h1>Wierszyki</h1>

    <div class="wierszyki">
        <ol>
            <li>
                <p>Goście nasi ukochani,<br>
                    my już wszystko w domu mamy.<br>
                    Chcecie nam cos podarować,<br>
                    dajcie śwince się radować.</p>
            </li>
            <li>
                <p>Pragnąc przełamać tradycje stare,<br>
                    by nie mieć na przykład żelazek parę<br>
                    i zaoszczędzić przemiłym gościom<br>
                    łamania głów nad prezentów mnogością,<br>
                    podpowiadamy:<br>
                    mile widziany i bardzo wygodny<br>
                    będzie bilecik ze znakiem wodnym.</p>
            </li>
            <li>
                <p>Szanowny Gościu,<br>
                    oto zagadka do podarowania:<br>
                    lekkie jak piórka, łatwe do schowania,<br>
                    szeleszczące i kolorowe...<br>
                    to pieniążki papierowe!</p>
            </li>
            <li>
                <p>Na wesele zapraszamy<br>
                    bez prezentów też wpuszczamy :)<br>
                    jeśli jednak chcecie coś nam podarować<br>
                    prosimy banknocik do koperty schować.</p>
            </li>
            <li>
                <p>Najlepszym podarunkiem dla kobiety są diamenciki,<br>
                    a dla nowożeńców – banknociki.</p>
            </li>
            <li>
                <p>Wszystkie podarunki radość nam sprawiają,<br>
                    jeśli zbiór papierów wartościowych wzbogacają.</p>
            </li>
            <li>
                <p>Jako władcy szczęścia<br>
                    do Was prośbę mamy<br>
                    i o weselne dary w formie papierków<br>
                    serdecznie upraszamy.</p>
            </li>
            <li>
                <p>A że często tak się zdarza,<br>
                    prezent lubi się powtarzać,<br>
                    by uniknąć tej udręki,<br>
                    to pieniądze daj do ręki.</p>
            </li>
            <li>
                <p>Zamiast kwiatów podarujcie nam<br>
                    kupon Totolotka.<br>
                    Szczęście w miłości już mamy,<br>
                    może szczęście w loterii nas spotka... :)</p>
            </li>
            <li>
                <p>Zamiast kwiatów do wazonu,<br>
                    które uschną w naszym domu,<br>
                    propozycje mamy taką –<br>
                    byście serca uchylili, konwenanse odrzucili,<br>
                    dali spokój z kwieciem w dłoni<br>
                    i przynieśli: kilka słoni,<br>
                    myszkę miki, misie, pieski, koraliki,<br>
                    malowanki, kredki, farby,<br>
                    może wielbłąd być dwugarbny,<br>
                    nakręcany samolocik albo cały stos łakoci,<br>
                    może słodkich krówek worek,<br>
                    może mały być traktorek,<br>
                    cukiereczki, czekoladki<br>
                    dla dzieciaczków z dziecka chatki.</p>
            </li>
            <li>
                <p>Mili Goście!<br>
                    Bardzo byśmy chcieli, by w tym dniu uroczym<br>
                    były uśmiechnięte czyjeś małe oczy.<br>
                    A więc zamiast kwiatów do życzeń w kościele,<br>
                    dołączcie pluszaczki, nasi Przyjaciele.<br>
                    My do dzieci z nimi pojedziemy<br>
                    i w Waszym imieniu malcom przekażemy.<br>
                    Nowożeńcy</p>
            </li>
            <li>
                <p>Bardzo byśmy chcieli, by w tym dniu uroczym<br>
                    były uśmiechnięte czyjeś małe oczy.<br>
                    A wiec zamiast kwiatów do życzeń w kościele<br>
                    dołączcie słodycze, nasi przyjaciele.<br>
                    My do domów dziecka z nimi pojedziemy<br>
                    i w Waszym imieniu malcom przekażemy.<br>
                    Niech z naszego szczęścia one też coś mają<br>
                    Ze słodyczami w ręku uśmiechy rozdają.</p>
            </li>
            <li>
                <p>Drodzy Goście,<br>
                    dla nas kwiatów nie przynoście,<br>
                    zamiast ozdób tych nietrwałych<br>
                    prośbę do Was wszystkich mamy <br>
                    o słodycze dziś prosimy,<br>
                    swoje szczęście podzielimy.<br>
                    W dniu tym dla nas najważniejszym<br>
                    damy radość również innym<br>
                    i słodycze które chcemy<br>
                    na dom dziecka przekażemy!</p>
            </li>
            <li>
                <p>Aby Wam oszczędzić trudu,<br>
                    W sklepach kilka godzin nudów<br>
                    I rozterek przy wyborze<br>
                    Co się Młodym przydać może?<br>
                    Wszem i wobec ogłaszamy:<br>
                    Przeciw złotym nic nie mamy!</p>
            </li>
            <li>
                <p>Gościom nisko się kłaniamy,<br>
                    na wesele zapraszamy.<br>
                    Będą pląsy, tańce, bale<br>
                    i jedzenia stosy całe.<br>
                    Więc się nasi mili stawcie<br>
                    o prezenty się nie martwcie.<br>
                    By nie stawiać ich na stercie,<br>
                    niechaj zmieszczą się w kopercie.</p>
            </li>
            <li>
                <p>Aby kłopotu Wam nie sprawić,<br>
                    radzimy ciężkie fanty w domu zostawić,<br>
                    a na wesele tylko z wynalazkiem Fenicjan trafić.</p>
            </li>
            <li>
                <p>Aby ulżyć Wam w udręce<br>
                    co za paczkę dać w prezencie<br>
                    Młoda Para podpowiada<br>
                    i zarazem pięknie prosi,<br>
                    zamiast kwiatów i prezentów,<br>
                    by w kopertę włożyć grosik,<br>
                    tyle, ile każdy może,<br>
                    za co z góry<br>
                    Szczęść Wam Boże!</p>
            </li>
            <li>
                <p>Zamiast kwiatów totka skreślcie<br>
                    w dniu wesela nam przynieście.<br>
                    Któryś celnie trafić może,<br>
                    gniazdo uwić nam pomoże.</p>
            </li>
            <li>
                <p>Goście drodzy, Goście mili,<br>
                    radość byście nam sprawili,<br>
                    zamiast kwiatków - które zwiędną,<br>
                    cieszyć oczy krótko będą,<br>
                    niechaj każdy Gość jak może,<br>
                    szczęściu młodych dopomoże,<br>
                    w kolekturze inwestując,<br>
                    kupon Lotto nam darując.</p>
            </li>
            <li>
                <p>Niech wiadomym się stanie,<br>
                    iż równie mocno jak róża,<br>
                    tulipan czy stokrotka<br>
                    ucieszą nas kupony Dużego Totolotka.</p>
            </li>
            <li>
                <p>Goście drodzy, Goście mili,<br>
                    radość byście nam sprawili,<br>
                    zatrzymując czas tej chwili<br>
                    Nie kupujcie kwiatka z wstążką –<br>
                    obdarujcie dobrą książką,<br>
                    podpisaną z wielką gracją<br>
                    osobistą dedykacją.</p>
            </li>
            <li>
                <p>Młoda Para pragnie szczerze<br>
                    oraz prosi, Goście mili,<br>
                    na wesele nie z kwiatami,<br>
                    ale z winkiem byście przybyli.<br>
                    A co do prezentów wszelkich,<br>
                    nie róbcie pakunków wielkich.<br>
                    Te do koperty schowane<br>
                    są najbardziej pożądane.</p>
            </li>
            <li>
                <p>Ci, którzy szczęście przyjdą dzielić z nami<br>
                    Niech nie biorą kwiatów - te zerwiemy sami.<br>
                    Kupon totolotka i butelkę wina<br>
                    niech dla Młodej Pary każdy w ręku trzyma.</p>
            </li>
            <li>
                <p>Wszyscy dają Młodym kwiatki:<br>
                    róże, fiołki, chabry, bratki.<br>
                    A dla nas najlepszą atrakcją,<br>
                    będzie książka z dedykacją.</p>
            </li>
            <li>
                <p>By nie niszczyć wielu roślin,<br>
                    Młodzi proszą drogich Gości:<br>
                    zamiast kwiatów weź słodkości –<br>
                    więcej sprawią nam radości.</p>
            </li>
            <li>
                <p>Nasi Kochani Goście<br>
                    Kwiatków nam nie przynoście<br>
                    wolimy dostać flaszeczkę wina<br>
                    będzie się cieszyć cała rodzina.</p>
            </li>
            <li>
                <p>Zamiast kwiatów do wazonu,<br>
                    które uschną w naszym domu,<br>
                    propozycje mamy taką:<br>
                    byśmy razem wino pili,<br>
                    konwenanse odrzucili,<br>
                    niechaj rosną nam kwiateczki,<br>
                    Wy przynieście wina z beczki.</p>
            </li>
            <li>
                <p>Bardzo chcemy wszystkich prosić,<br>
                    by nam kwiatów nie przynosić.<br>
                    Stąd wiadomość ku publice:<br>
                    chcemy z winem mieć piwnice.<br>
                    Niekoniecznie z winnic sławnych,<br>
                    za to słodkich i wytrawnych,<br>
                    wina włoskie, bądź też z Chile,<br>
                    co zapewnią miłe chwile.</p>
            </li>
            <li>
                <p>Goście drodzy, Goście mili,<br>
                    byście kwiatków nie ranili,<br>
                    książki chętnie poczytamy,<br>
                    na pamiątkę zachowamy!</p>
            </li>
            <li>
                <p>Szanowny Gościu:<br>
                    Zamiast na kwiaty wydawać pieniążki,<br>
                    Przynieś prosimy wino lub książki.</p>
            </li>
        </ol>
    </div>
{% endblock %}
