{% extends 'layout/base-with-sidebar.html.twig' %}

{% block title %}Teksty na zawieszki na ślub - decARTe{% endblock %}

{% block meta %}
    <link rel="canonical" href="{{ canonicalUrl }}">
    <meta property="og:url" content="{{ canonicalUrl }}">
{% endblock %}

{% block contents %}
    {% include 'static/texts/menu.html.twig' %}

    <h1>Teksty na zawieszki</h1>

    <div class="wierszyki">
        <ol>
            <li>
                <p>Ta butelka ma zadanie<br>
                    dziś istotne niesłychanie,<br>
                    bo ma sprawić byście byli<br>
                    rozśpiewani, Goście mili!</p>
            </li>
            <li>
                <p>Niechaj wszyscy Goście<br>
                    na zdrowie dziś piją, <br>
                    a Państwo Młodzi<br>
                    100 lat w szczęściu żyją!</p>
            </li>
            <li>
                <p>Niechaj dzwonią kielichy<br>
                    Niechaj dźwięczą puchary<br>
                    Na zdrowie i szczęście<br>
                    Dla Młodej Pary</p>
            </li>
            <li>
                <p>Wszyscy dzisiaj<br>
                    czujemy się młodzi,<br>
                    więc Wódka Weselna<br>
                    nikomu nie zaszkodzi.</p>
            </li>
            <li>
                <p>Pijcie Drodzy Przyjaciele<br>
                    Wszakże mamy tu wesele<br>
                    Zdrowie Młodych szybko wznoście<br>
                    no i bawcie się radośnie!</p>
            </li>
            <li>
                <p>Tak od serca należycie<br>
                    dziękujemy za przybycie<br>
                    miłym Gościom,<br>
                    żeście swoją obecnością<br>
                    zaszczycili nam wesele!<br>
                    Pijcie zdrowie, Przyjaciele!</p>
            </li>
            <li>
                <p>Każdy dzisiaj się raduje,<br>
                    Wódka Weselna<br>
                    Wszystkim smakuje.<br>
                    Niechaj wszyscy Goście<br>
                    na zdrowie dziś piją,<br>
                    a Państwo Młodzi<br>
                    niech 100 lat żyją!</p>
            </li>
            <li>
                <p>Niechaj trunków nie zabraknie<br>
                    w tę dzisiejszą, piękną noc,<br>
                    a za zdrowie Młodej Pary<br>
                    niech toastów rozbrzmi moc!!!</p>
            </li>
            <li>
                <p>Wypij dzisiaj Młodych zdrowie,<br>
                    wznoś toastów pięknych moc,<br>
                    bowiem każdy Ci to powie:<br>
                    grzech nie wypić w taką noc!</p>
            </li>
            <li>
                <p>Niechaj męża kocha żona<br>
                    a swą żonę kocha mąż!<br>
                    To nasz toast ulubiony,<br>
                    który wznosić trzeba wciąż!</p>
            </li>
            <li>
                <p>Niech kieliszki głośno brzęczą,<br>
                    bo to dźwięk dla ucha miły.<br>
                    Gdy się Goście tańcem zmęczą,<br>
                    trunek im przywróci siły!</p>
            </li>
            <li>
                <p>Były zaręczyny,<br>
                    teraz jest wesele,<br>
                    gromkich toastów<br>
                    niech będzie wiele!</p>
            </li>
            <li>
                <p>Szumigłówka dziś to sprawi,<br>
                    że się każdy dobrze bawi.<br>
                    Lejcie w gardła do rana,<br>
                    sala ma być rozśpiewana<br>
                    Zapewniają o tym Młodzi -<br>
                    Szumigłówka nie zaszkodzi!</p>
            </li>
            <li>
                <p>Drodzy Goście,<br>
                    toasty wznoście!<br>
                    Pierwszy kielich:<br>
                    za Młodych szczęście<br>
                    Drugi kielich:<br>
                    za dziecka poczęcie<br>
                    Trzeci kielich:<br>
                    za zdrowie Gości<br>
                    Każdy następny:<br>
                    dla przyjemności</p>
            </li>
            <li>
                <p>Szczęśliwa Ona<br>
                    Szczęśliwy On,<br>
                    Dziś im radości<br>
                    zadźwięczał dzwon!<br>
                    Wódka na stoły<br>
                    pięknie podana,<br>
                    Tańczmy, śpiewajmy<br>
                    z Młodymi do rana!</p>
            </li>
            <li>
                <p>Już od wieków jest wiadomo -<br>
                    żeby miłość Młodych trwała<br>
                    każdy musi wypić toast,<br>
                    gdy częstuje Młoda Para</p>
            </li>
            <li>
                <p>Czyś stary, czyś młody,<br>
                    kieliszek swój chwyć!<br>
                    Za Młodą Parę<br>
                    czas toast pić!</p>
            </li>
            <li>
                <p>Drodzy Goście! Pijcie śmiało!<br>
                    Niech alkohol dziś się leje!<br>
                    Jak będziecie mieli mało,<br>
                    to Pan Młody Wam doleje!</p>
            </li>
            <li>
                <p>Gość Weselny<br>
                    niech toast wznosi<br>
                    i sąsiada z boku<br>
                    do toastu prosi!</p>
            </li>
            <li>
                <p>Nowożeńcy pięknie proszą,<br>
                    niech toasty wszyscy wznoszą<br>
                    i za szczęście Młodych piją,<br>
                    za ich radość i za miłość!</p>
            </li>
            <li>
                <p>Kasia i Tomek<br>
                    wspólną drogę wybrali,<br>
                    więc wznieśmy toast<br>
                    by się zawsze kochali!</p>
            </li>
            <li>
                <p>Dzisiaj każdy Wam to powie:<br>
                    kto chce szczęścia Młodej Pary<br>
                    musi wypić za ich zdrowie,<br>
                    tak jak każe zwyczaj stary!</p>
            </li>
            <li>
                <p>Jak wesele, to wesele<br>
                    jedzcie dużo, pijcie wiele!</p>
            </li>
            <li>
                <p>Wznieście toast,<br>
                    Goście mili,<br>
                    by Państwo Młodzi<br>
                    szczęśliwi byli!</p>
            </li>
            <li>
                <p>Każdy z Gości<br>
                    wódkę pije!<br>
                    Młoda Para<br>
                    niech nam żyje!</p>
            </li>
            <li>
                <p>Czyś młody, czyś stary,<br>
                    pij zdrowie Młodej Pary.<br>
                    Lecz pamiętaj, aby pić<br>
                    pełnoletni musisz być!</p>
            </li>
            <li>
                <p>Wypij mnie :)</p>
            </li>
            <li>
                <p>I na drugą nóżkę :)</p>
            </li>
            <li>
                <p>No to siup! :)</p>
            </li>
            <li>
                <p>Chluśniem,<br>
                    bo uśniem! :)</p>
            </li>
            <li>
                <p>Na zdrowie! :)</p>
            </li>
            <li>
                <p>Polej sąsiadom!<br>
                    PS sobie też :)</p>
            </li>
            <li>
                <p>Instrukcję obsługi<br>
                    każdy dobrze zna:<br>
                    polać, wznieść toast...<br>
                    i wypić do dna!</p>
            </li>
            <li>
                <p>Wódka weselna<br>
                    to nie ozdoba –<br>
                    jak się skończy,<br>
                    będzie nowa!</p>
            </li>
            <li>
                <p>Weselicho dzisiaj mamy,<br>
                    Zdrowie Młodych opijamy!</p>
            </li>
        </ol>
    </div>
{% endblock %}
