{% extends 'base.html.twig' %}

{% block contents_class %}with_menu{% endblock %}

{% block body %}
    <nav id="left_menu">
        <ul>
            {% for entry in menu.getEntries() %}
                <li>
                    <a href="{{ path(entry.getRouteName(), entry.getRouteParams()) }}">
                        {{ entry.getTitle() }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    {% block contents %}{% endblock %}
{% endblock %}
