<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>{% block title %}decARTe zaproszenia ślubne{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Author" content="decARTe zaproszenia ślubne">
        <meta name="description" content="Oferta sklepu decARTe obejmuje wyjątkowe gadżety i akcesoria ślubne i weselne - zaproszenia, winietki, zawieszki, ozdoby, dekoracje, księgi gości i wiele innych artykułów." />
        <script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Store",
	"address": {
		"@type": "PostalAddress",
		"addressLocality": "Gdańsk",
		"streetAddress": "Starowiejska 63/13",
		"postalCode": "80-534",
		"addressRegion": "pomorskie"
	},
	"name": "Pracownia decARTe s.c.",
	"email": "info@decarte.pl",
	"telephone": "600151804",
  "telephone": "793697390",
	"vatID": "9571090366",
	"image": "https://www.decarte.com.pl/img/decarte_logo.png"
}
        </script>
    </head>
    <body>
        <div id="dane-atf">telefon (w godz. 10-19): <strong>600 151 804</strong> lub <strong>793 697 390</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; e-mail: <strong>info@decarte.pl</strong></div>

        <div id="root">
            <div id="contents_frame">
                <div id="contents" class="{% block contents_class %}{% endblock %}">
                    {% block body %}{% endblock %}
                </div>
            </div>

            <div id="top_menu_bar"><div id="top_menu_bar_1"></div><div id="top_menu_bar_2"></div></div>

            <div id="bottom_menu_bar"><div id="bottom_menu_bar_1"></div><div id="bottom_menu_bar_2"></div></div>

            <div id="logo_heart"><img src="/img/decarte_logo.png" width="272" height="110" alt="decARTe"></div>

            <nav id="top_menu">
                <ul><li id="menu_home"><a href="/"><span>Home</span></a></li><li id="menu_orders"><a href="/zamowienia.php"><span>Zamówienia</span></a></li><li id="menu_contact"><a href="/kontakt.php"><span>Kontakt</span></a></li></ul>
            </nav>

            <nav id="bottom_menu">
                <ul><li id="menu_terms"><a href="/regulamin.php"><span>Regulamin</span></a></li><li id="menu_texts"><a href="/teksty/"><span>Teksty zaproszeń</span></a></li><li id="menu_about"><a href="/onas.php"><span>O nas</span></a></li><li id="menu_faq"><a href="/pytania.php"><span>Pytania i odpowiedzi</span></a></li></ul>
            </nav>
        </div>

        <div id="dane-stopka"><strong>Pracownia decARTe s.c.</strong> &nbsp;|&nbsp; ul. Starowiejska 63/13, 80-534 Gdańsk, woj. pomorskie &nbsp;|&nbsp; NIP: 9571090366, REGON: 366095310</div>

        <link rel="stylesheet" href="{{ asset('css/site.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,400,400i,700">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
