.cart-item {
  border-bottom: solid $lightGray 1px;
  clear: both;
  margin-top: 1rem;

  img {
    border: solid $lightGray 1px;
    float: left;
    height: 100px;
    margin-right: 1rem;
    width: auto;
  }

  input[type="number"] {
    width: 5rem;
  }
}

.cart-total-price {
  font-size: 110%;
  margin-bottom: 1rem;
}

.item-price {
  float: right;
  font-size: 1.25rem;
  font-weight: bold;
}
