{% extends '@App/layout/base-with-sidebar.html.twig' %}

{% block title %}Potwierdzenie zamówienia - decARTe{% endblock %}

{% block contents %}
    <p>Dziękujemy za złożenie zamówienia w naszej firmie.</p>

    <p>W ciągu godziny proszę oczekiwać na maila potwierdzającego przyjęcie zlecenia z opisem procedury realizacji
        zamówienia.</p>

    <p>W razie potrzeby pilnego kontaktu - tel. 793-697-390 lub 600-151-804.</p>
{% endblock %}
