{% extends 'base.html.twig' %}

{% block body %}
    <ul id="index_links">
        <li>
            <a href="{{ path('shop_list_collections') }}">
                <img src="/img/index/zaproszenia.jpg" width="200" height="130" alt="Zaproszenia ślubne"><br>
                <span class="header">Zaproszenia ślubne</span><br>
                <span class="description">eleganckie, różnorodne kolekcje</span>
            </a>
        </li>
        <li>
            <a href="/winietki.php">
                <img src="/img/index/winietki.jpg" width="200" height="130" alt="Winietki"><br>
                <span class="header">Winietki</span><br>
                <span class="description">wizytówki dla gości weselnych</span>
            </a>
        </li>
        <li>
            <a href="/etykiety.php">
                <img src="/img/index/zawieszki.jpg" width="200" height="130" alt="Etykiety i zawieszki"><br>
                <span class="header">Etykietki/Zawieszki</span><br>
                <span class="description">na alkohol, ciekawe wzory</span>
            </a>
        </li>
        <li>
            <a href="/podziekowania.php">
                <img src="/img/index/podziekowania.jpg" width="200" height="130" alt="Podziękowania"><br>
                <span class="header">Podziękowania</span><br>
                <span class="description">dla Rodziców, dla Świadków</span>
            </a>
        </li>
        <li>
            <a href="/poduszki.php">
                <img src="/img/index/poduszki.jpg" width="200" height="130" alt="Poduszki do podawania obrączek"><br>
                <span class="header">Poduszki</span><br>
                <span class="description">do podawania obrączek</span>
            </a>
        </li>
        <li id="welcome">
            <h2 style="margin-top: 0">decARTe.com.pl -&nbsp;sklep&nbsp;ślubny z&nbsp;zaproszeniami</h2>

            <p>Oferujemy szeroką gamę starannie wykonanych produktów,
                m.in.&nbsp;ręcznie zdobione zawiadomienia i&nbsp;zaproszenia ślubne,
                winietki,&nbsp;zawieszki na&nbsp;alkohol, podziękowania dla&nbsp;Rodziców i&nbsp;Gości,
                a&nbsp;także&nbsp;wiele innych dodatków, które pomogą uczynić
                Dzień&nbsp;Waszego&nbsp;Ślubu wyjątkowym i&nbsp;niezapomnianym.</p>

            <p style="margin-bottom: 0">Gwarantujemy doskonałą jakość, profesjonalną obsługę i&nbsp;atrakcyjne&nbsp;ceny.</p>
        </li>
        <li>
            <a href="/stol.php">
                <img src="/img/index/stol.jpg" width="200" height="130" alt="Na stół, na salę - stylowe i oryginalne dekoracje"><br>
                <span class="header">Na stół/Na salę</span><br>
                <span class="description">stylowe i oryginalne dekoracje</span>
            </a>
        </li>
        <li>
            <a href="/ksiegi.php">
                <img src="/img/index/ksiegi.jpg" width="200" height="130" alt="Księgi gości"><br>
                <span class="header">Księgi gości</span><br>
                <span class="description">niezwykła pamiątka na wpisy</span>
            </a>
        </li>
        <li>
            <a href="/gadzety.php">
                <img src="/img/index/gadzety.jpg" width="200" height="130" alt="Gadżety weselne"><br>
                <span class="header">Gadżety weselne</span><br>
                <span class="description">co się może przydać w tym Dniu</span>
            </a>
        </li>
        <li>
            <a href="/menu.php">
                <img src="/img/index/kolekcje.jpg" width="200" height="130" alt="Menu ślubne"><br>
                <span class="header">Menu ślubne</span><br>
                <span class="description">od A do Z w tym samym stylu</span>
            </a>
        </li>
        <li>
            <a href="/samochod.php">
                <img src="/img/index/samochod.jpg" width="200" height="130" alt="Na samochód - dekoracje, ozdoby, tablice"><br>
                <span class="header">Na samochód</span><br>
                <span class="description">dekoracje, ozdoby, tablice</span>
            </a>
        </li>
    </ul>
{% endblock %}
