<article id="home-article">
    <div class="row">
        <div class="col">
            <p><strong>Drodzy Narzeczeni!</strong></p>
        </div>
    </div>
    <div class="row" id="welcome-text">
        <div class="col-12 col-md-4">
            <p>Jeśli znaleźliście się na&nbsp;naszej stronie, to&nbsp;znaczy, że&nbsp;właśnie planujecie swój
                ślub. Gratulujemy z&nbsp;całego decARTowego serca!</p>

            <p>Świetnie trafiliście – chętnie pomożemy Wam
                w&nbsp;kolejnym etapie przygotowań. Na&nbsp;pewno macie już ustaloną idealną datę ślubu
                i&nbsp;wybraną najpiękniejszą salę weselną. Pewnie wiecie też, z&nbsp;kim chcecie dzielić
                radość tego wyjątkowego dnia. Czas więc zaprosić ich na&nbsp;Wasz ślub!</p>
        </div>
        <div class="col-12 col-md-4">
            <p>Zachęcamy do&nbsp;szperania we&nbsp;wszystkich zakładkach i&nbsp;podstronach. Znajdziecie
                u&nbsp;nas ręcznie wykonane zaproszenia ślubne i&nbsp;zawiadomienia o&nbsp;ślubie
                w&nbsp;najróżniejszych stylach (zakładka
                <a href="{{ path('shop_list_collections', {type: 'zaproszenia-slubne'}) }}">ZAPROSZENIA</a>).
                Każda z&nbsp;dostępnych kolekcji
                zaproszeń odwołuje się do&nbsp;innej estetyki, więc na&nbsp;pewno wypatrzycie coś
                odpowiadającego Waszym oczekiwaniom i&nbsp;wpisującego się w&nbsp;motyw przewodni Waszego
                wesela.</p>

            <p>Zapraszamy również do&nbsp;korzystania z zakładki
                <a href="{{ path('texts_section', {section: 'teksty'}) }}">POMOCNIK</a>
                – jeśli potrzebujecie
                inspiracji w&nbsp;doborze tekstu, fontu czy ozdobników – oraz z&nbsp;zakładki
                <a href="{{ path('shop_order_samples') }}">ZAMÓW PRÓBKI</a>
                – jeśli chcecie zapoznać się z&nbsp;jakością wykonania i&nbsp;użytych materiałów
                przed&nbsp;zamówieniem kompletu.</p>
        </div>
        <div class="col-12 col-md-4">
            <p>Do&nbsp;każdego z&nbsp;naszych modeli wykonujemy pełną papeterię ślubną i&nbsp;wszystkie dodatki
                ślubne, jakich tylko możecie potrzebować (zakładka
                <a href="{{ path('shop_list_collections', {type: 'dodatki'}) }}">DODATKI</a>).</p>

            <p>Już od&nbsp;2005&nbsp;roku przygotowujemy ręcznie wykonane zaproszenia ślubne
                dla&nbsp;szczęśliwych par z&nbsp;całej Polski, a&nbsp;także z&nbsp;zagranicy. Codziennie
                wysyłamy ich setki, wiemy wszystko o&nbsp;każdym etapie, więc jeśli macie jakieś wątpliwości
                lub pytania – piszcie na&nbsp;<a href="mailto:info&#64;decarte&#46;pl">info&#64;decarte&#46;pl</a>.
                Żadnego maila nie&nbsp;pozostawimy
                bez&nbsp;odpowiedzi.</p>

            <p>Bawcie się dobrze wybierając wymarzone zaproszenia!</p>

            <address>Ekipa decARTe</address>
        </div>
    </div>
</article>
