#three-circles {
  border-bottom: solid $lightGray 1px;
  margin-bottom: 2rem;
  padding-bottom: 2rem;

  a {
    border-radius: 50%;
    display: block;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;

    &.zoomable {
      border-color: $leadingColor;
      border-style: solid;
      border-width: 1px;

      &:hover img {
        transform: scale(1.25);
      }
    }

    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }
  }

  img {
    transition: transform $transitionTime ease 0s;
    width: 100%;
  }

  .circle-title {
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;

    span {
      background: white;
      color: black;
      display: block;
      font-size: 150%;
      opacity: 0.75;
      padding: 1rem 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
  }
}

@include media-breakpoint-down(xs) {
  #three-circles a#three-circles-logo {
    display: none;
  }
}

#home-article {
  margin: 2em 0;
}

.welcome-text {
  text-align: justify;

  h2 {
    font-size: 150%;
    font-weight: normal;
    margin-bottom: 1.5rem;
  }

  address {
    text-align: right;
  }
}

.welcome-image {
  margin-bottom: 1rem;

  img {
    border: solid $lightGray 1px;
    height: auto;
    max-width: 100%;
  }

  a:hover img {
    border-color: $linkHover;
  }
}

@include media-breakpoint-up(lg) {
  .home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .welcome-text {
    font-size: 110%;
    margin-bottom: 2rem;
  }

  .welcome-text, .welcome-image {
    max-width: 540px;
  }

  .welcome-image {
    margin-bottom: 2rem;

    img {
      padding: 8px;
    }
  }

  #home-article-part1 {
    order: 1;
  }

  #home-image-1 {
    order: 2;
  }

  #home-image-2 {
    order: 3;
  }

  #home-article-part2 {
    order: 4;
  }

  #home-article-part3 {
    order: 5;
  }

  #home-image-3 {
    order: 6;
  }
}

@include media-breakpoint-up(xl) {
  #home-image-1 {
    max-width: 650px;
  }

  #home-article-part1 {
    max-width: 450px;
  }
}
