#three-circles {
  margin-bottom: 2em;

  a {
    border-radius: 50%;
    display: block;
    overflow: hidden;
    position: relative;

    &.zoomable {
      border-color: $leadingColor;
      border-style: solid;
      border-width: 1px;

      &:hover img {
        transform: scale(1.25);
      }
    }
  }

  img {
    transition: transform $transitionTime ease 0s;
    width: 100%;
  }

  .circle-title {
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;

    span {
      background: white;
      color: black;
      display: block;
      font-size: 150%;
      opacity: 0.75;
      padding: 1rem 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
  }
}

#home-article {
  margin: 2em 0;
}

#welcome-text {
  font-size: 75%;
  text-align: justify;

  address {
    text-align: right;
  }
}
