footer {
  color: $darkGrayText;
  font-size: 75%;
  padding: 1em;

  h3 {
    font-size: 1.25em;
  }

  a, a:hover {
    color: inherit;
  }
}

#sitemap-with-contact {
  background: $lightGray;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

@include media-breakpoint-down(sm) {
  #sitemap-with-contact ul {
    margin-bottom: 1rem;
  }
}

#company-data {
  background: $darkGrayBackground;
  color: white;
}
