@include media-breakpoint-up(sm) {
  header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
  }
}

#top-navigation {
  background: white;
  border-bottom: solid $lightGray 1px;

  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  li {
    margin-right: 2em;
    text-align: center;

    a {
      color: black;
      display: block;
      padding: 0.5rem 0;

      &:hover {
        color: $linkHover;
        text-decoration: none;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  #top-navigation li a {
    padding: 1rem 0;
  }
}

@include media-breakpoint-down(sm) {
  #top-navigation.hide-on-mobile {
    display: none;
  }
}

.social-icons {
  text-align: right;

  a {
    display: inline-block;
    margin-left: 14px;
  }
}

#top-navigation li#cart-button {
  flex-grow: 1;
  margin-right: 0;
  position: relative;
  text-align: right;

  a {
    padding: 0;
  }

  a:hover {
    text-decoration: none;
  }

  img {
    width: 36px;
  }

  .cart-number {
    background: $leadingColor;
    border-radius: 50%;
    color: white;
    display: inline-block;
    font-size: 75%;
    padding: 0.25em 0.75em;
    position: relative;
    left: -10px;
    top: -10px;
    vertical-align: middle;
  }
}
