{% extends '@App/layout/base.html.twig' %}

{% block title %}Koszyk - decARTe{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Koszyk</h1>

                <ul id="cart_items">
                    <li>Brak produktów w koszyku.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
