<p>Szanowni Państwo,</p>

<p>Dziękujemy za skorzystanie z serwisu próbkowego pracowni decARTe.</p>

<p>Próbki wyślemy w ciągu maksymalnie 7 dni roboczych licząc od dnia opłacenia zamówienia.</p>

<p style="margin-bottom: 0"><strong>Kwota do zapłaty:</strong></p>

<ul style="margin-top: 0">
    <li>przy wysyłce w Polsce: 20 PLN</li>
    <li>przy wysyłce za granicę: 30 PLN</li>
</ul>

<p>Wpłaty należy dokonać na konto:<br>
<strong>Pracownia decARTe s.c.<br>
ING Bank Śląski S.A.<br>
77 1050 1764 1000 0092 3525 8671</strong><br>
w tytule wpisując swoje imię i nazwisko.</p>

<p>Mamy nadzieję, że nasze wyroby spodobają się Państwu i zapraszamy ponownie na zakupy do nas.</p>

<p>W razie jakichkolwiek pytań czy wątpliwości proszę o kontakt.</p>

<p>Pozdrawiamy,<br>
decARTe</p>
