#slider {
  margin-bottom: 1rem;
  position: relative;

  img {
    height: auto;
    left: 0;
    max-width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity $transitionTime;

    &:first-child {
      opacity: 1;
      position: static;
    }
  }
}

#slider-thumbnails {
  display: flex;
  flex-wrap: wrap;
  @include list-none;
  margin-bottom: 1rem;

  li {
    margin-right: 1rem;

    img {
      cursor: pointer;
      height: auto;
      width: 200px;
    }
  }
}
