#slider {
  height: 622px;
  margin-bottom: 1rem;
  position: relative;

  img {
    opacity: 0;
    position: absolute;
    transition: opacity $transitionTime;

    &:first-child {
      opacity: 1;
    }
  }
}

#slider-thumbnails {
  display: flex;
  @include list-none;
  margin-bottom: 1rem;

  li {
    margin-right: 1rem;

    img {
      cursor: pointer;
      height: auto;
      width: 200px;
    }
  }
}
