#slider {
  height: 480px;
  margin-bottom: 1rem;
  position: relative;

  img {
    opacity: 0;
    position: absolute;
    transition: opacity $transitionTime;

    &:first-child {
      opacity: 1;
    }
  }
}

#slider-thumbnails {
  display: flex;
  @include list-none;
  justify-content: center;
  margin-bottom: 1rem;

  li {
    margin: 0 0.5rem;

    img {
      cursor: pointer;
      height: auto;
      width: 200px;
    }
  }
}
