<footer id="company-data">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8">
                Nr konta: 77 1050 1764 1000 0092 3525 8671 (ING&nbsp;Bank&nbsp;Śląski&nbsp;S.A.)
            </div>
            <div class="col-12 col-sm-4">
                NIP: 9571090366, REGON: 366095310
            </div>
        </div>
    </div>
</footer>
