<nav>
    <ul class="nav flex-column">
        {% for entry in menu.getEntries() %}
        <li class="nav-item">
            <a class="nav-link {{ entry.getCssClass() }}" href="{{ path(entry.getRouteName(), entry.getRouteParams()) }}">{{ entry.getTitle() }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
