<nav>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="{{ path('shop_list_collections', {type: 'zaproszenia-slubne'}) }}">Zaproszenia ślubne</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('shop_order_samples') }}">Zamów próbki</a>
        </li>
        <li class="nav-item">
            <a href="">Winietki</a>
        </li>
        <li class="nav-item">
            <a href="">Zawieszki</a>
        </li>
        <li class="nav-item">
            <a href="">Menu</a>
        </li>
        <li class="nav-item">
            <a href="">Podziękowania dla rodziców</a>
        </li>
        <li class="nav-item">
            <a href="">Podziękowania dla gości</a>
        </li>
        <li class="nav-item">
            <a href="">Księgi gości</a>
        </li>
        <li class="nav-item">
            <a href="">Poduszki pod obrączki</a>
        </li>
        <li class="nav-item">
            <a href="">Gadżety weselne</a>
        </li>
        <li class="nav-item">
            <a href="">Dekoracje samochodowe</a>
        </li>
        <li class="nav-item">
            <a href="">Zaproszenia na inne okazje</a>
        </li>
    </ul>
</nav>
