.product-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.product-siblings {
  font-size: 110%;

  a {
    display: block;
    margin-bottom: 1rem;
  }

  .prev::before {
    content: '« ';
  }

  .next::after {
    content: ' »';
  }
}

.product-siblings-below {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

#slider {
  img {
    height: auto;
    margin-bottom: 1rem;
    max-width: 100%;
  }
}

#slider-thumbnails {
  display: none;
}

@include media-breakpoint-up(sm) {
  .product-actions {
    float: right;
    margin-left: 1rem;
  }

  .product-siblings-above {
    display: none;
  }

  #slider {
    clear: right;
    margin-bottom: 1rem;
    position: relative;

    img {
      left: 0;
      margin-bottom: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity $transitionTime;

      &:first-child {
        opacity: 1;
        position: static;
      }
    }
  }

  #slider-thumbnails {
    display: flex;
    flex-wrap: wrap;
    @include list-none;
    margin-bottom: 1rem;

    li {
      margin-right: 1rem;

      img {
        cursor: pointer;
        height: auto;
        width: 200px;
      }
    }
  }
}

.add-product-to-cart {
  text-align: center;

  .price {
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .sample {
    margin-top: 0.5rem;
  }
}
