{% extends 'layout/base-with-sidebar.html.twig' %}

{% block title %}Potwierdzenie zamówienia - decARTe{% endblock %}

{% block contents %}
    <h3>Dziękujemy za złożenie zamówienia w naszej firmie!</h3>

    <p>Wysłaliśmy Państwu maila potwierdzającego przyjęcie zlecenia z opisem procedury realizacji zamówienia.<br>
        <strong>UWAGA:</strong> Jeśli nie widzicie takiej wiadomości od nas, bardzo prosimy o sprawdzenie folderu "Spam"
        (dotyczy głównie poczty gmail.com) oraz zakładki "Oferty" (dotyczy głównie wp.pl).</p>

    <p>W razie problemów prosimy o kontakt - tel. 733-325-292.</p>
{% endblock %}
