{% extends 'layout/base-with-sidebar.html.twig' %}

{% block title %}{% trans %}order.shipping_details{% endtrans %} - decARTe{% endblock %}

{% block contents %}
    <h1><span class="step">Krok 1 z 2:</span> {% trans %}order.enter_shipping_details{% endtrans %}</h1>

    <p class="alert alert-secondary" role="alert">
        {% trans %}order.further_details{% endtrans %}
    </p>

    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    {{ form(form) }}
{% endblock %}
