<footer id="company-data">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                Nr konta: 97 1050 1025 1000 0092 7235 8517 (ING&nbsp;Bank&nbsp;Śląski&nbsp;S.A.)
            </div>
            <div class="col-12 col-md-4">
                NIP: 1231410081, REGON: 3381211279
            </div>
        </div>
    </div>
</footer>
