<nav id="contact-bar">
    <div class="container">
        <div class="row">
            <div class="col-12 align-items-center" id="contact-bar-col">
                <div class="site-logo">
                    <a href="{{ absolute_url(path('default')) }}" id="home-logo">
                        <img
                            src="{{ asset('img/2018/decarte-logo-white.svg') }}"
                            width="100"
                            height="48"
                            alt="decARTe">
                    </a>
                </div>
                <div class="contact-data">
                    <a href="mailto:info&#64;decarte&#46;pl">info&#64;decarte&#46;pl</a> &bull;
                    tel. <strong>600&nbsp;151&nbsp;804</strong> lub <strong>518&nbsp;580&nbsp;402</strong> (w&nbsp;godz.&nbsp;10-19)
                </div>
                <div class="social-icons">
                    <a href="https://web.facebook.com/decarte.zaproszenia.slubne/" rel="nofollow"><img src="{{ asset('img/2018/fb-white.png') }}" alt="Facebook"></a>
                    <a href="https://www.instagram.com/decarte_zaproszenia/" rel="nofollow"><img src="{{ asset('img/2018/instagram-white.png') }}" alt="Instagram"></a>
                </div>
                <div class="hamburger">
                    <button type="button" aria-controls="top-navigation" aria-expanded="false" aria-label="Pokaż menu" id="hamburger">
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>
