{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }} alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
