{% extends '@App/layout/base-with-sidebar.html.twig' %}

{% block title %}Cytaty - decARTe{% endblock %}

{% block contents %}
    {% include '@App/static/texts/menu.html.twig' %}

    <h1>Cytaty</h1>

    <div class="cytaty">
        <ol>
            <li>
                <p>„Nie wystarczy pokochać,<br>
                    trzeba jeszcze umieć<br>
                    wziąć tę miłość w ręce,<br>
                    i przenieść ją przez całe życie.”</p>

                <p class="author">Auguste Bekannte</p>
            </li>
            <li>
                <p>„A może rzeczywiście<br>
                    wszystko nam się przyśniło:<br>
                    stangret, kareta, wieczór,<br>
                    mój frak i Twój tren<br>
                    i nasze życie twarde<br>
                    i słodkie jak sen.<br>
                    Nie byłoby małżeństwa<br>
                    gdyby nie nasza miłość...”</p>

                <p class="author">K. I. Gałczyński</p>
            </li>
            <li>
                <p>„Na wspólną radość,<br>
                    na chleb powszedni,<br>
                    na poranne otarcie oczu<br>
                    w blasku słonecznym,<br>
                    na nieustające sobą zdziwienie,<br>
                    na gniew, krzywdę i przebaczenie<br>
                    wybieram Ciebie.”</p>

                <p class="author">K. I. Gałczyński</p>
            </li>
            <li>
                <p>„Nie obiecuję Ci wiele…<br>
                    Bo tyle prawie co nic…<br>
                    Najwyżej wiosenną zieleń…<br>
                    I pogodne dni…<br>
                    Najwyżej uśmiech na twarzy…<br>
                    I dłoń w potrzebie…<br>
                    Nie obiecuję Ci wiele…<br>
                    Bo tylko po prostu siebie…”</p>

                <p class="author">Bolesław Leśmian</p>
            </li>
            <li>
                <p>„Chociażby życie nasze było najtrudniejsze, najcięższe,<br>
                    zachowajmy ufność i wiarę,<br>
                    że na świecie zwycięża tylko miłość.”</p>

                <p class="author">Kardynał Stefan Wyszyński</p>
            </li>
            <li>
                <p><em>Amor Vincit Omnia</em><br>
                    Miłość wszystko zwycięża</p>
            </li>
            <li>
                <p>„Przyszliśmy na świat po to, aby kochać siebie,<br>
                    Ty jesteś moim słońcem... a ja Twoim niebem.”</p>
            </li>
            <li>
                <p>„Jedno jest tylko w życiu szczęście:<br>
                    kochać i być kochanym...”</p>

                <p class="author">George Sand</p>
            </li>
            <li>
                <p>Daję Ci moją dłoń<br>
                    Daję Ci moje serce<br>
                    Weź w swoje ręce mnie<br>
                    I pójdź przez życie dobre i złe<br>
                    A gdy napotkasz na drodze życia<br>
                    Kłującą różę – uśmiechnij się i powiedz<br>
                    Nie boli – bo kocham Cię.</p>
            </li>
            <li>
                <p>W maleńkiej obrączce uczuć świat cały,<br>
                    Miłość, obowiązek i wzniosłe ideały,<br>
                    Maleńka obrączka, a znaczy tak wiele<br>
                    Na całe życie włożona w kościele.</p>
            </li>
            <li>
                <p>„Gdybym też miał dar prorokowania<br>
                    i znał wszystkie tajemnice,<br>
                    i posiadał wszelką wiedzę,<br>
                    i wszelką (możliwą) wiarę, <br>
                    tak iżbym góry przenosił,<br>
                    a miłości bym nie miał,<br>
                    byłbym niczym.”</p>

                <p class="author">1 Kor. 13,2</p>
            </li>
            <li>
                <p>„Cokolwiek pomiędzy ludźmi kończy się – znaczy: nigdy nie zaczęło się. Gdyby prawdziwie się zaczęło – nie skończyłoby się. Skończyło się, bo nie zaczęło się. Cokolwiek prawdziwie się zaczyna – nigdy się nie kończy.”</p>

                <p class="author">Edward Stachura</p>
            </li>
            <li>
                <p>„Jeżeli cokolwiek warto na świecie czynić, to tylko jedno – miłować.”</p>

                <p class="author">Jan Paweł II</p>
            </li>
            <li>
                <p>„Musicie być silni miłością, która wszystko znosi, wszystkiemu wierzy, wszystko przetrzyma, tą miłością, która nigdy nie zawiedzie.”</p>

                <p class="author">Jan Paweł II</p>
            </li>
            <li>
                <p>„Kocha się naprawdę i do końca tylko wówczas gdy kocha się zawsze, w radości i smutku bez względu na dobry czy zły los.”</p>

                <p class="author">Jan Paweł II</p>
            </li>
            <li>
                <p>„Dotąd dwoje, choć jeszcze nie jedno.<br>
                    Odtąd jedno, choć nadal dwoje.”</p>

                <p class="author">Jan Paweł II</p>
            </li>
            <li>
                <p>„...Niech słowo „kocham”<br>
                    jeszcze raz z ust Twych usłyszę,<br>
                    niech je w sercu wyryję<br>
                    i w myśli zapiszę...”</p>

                <p class="author">Adam Mickiewicz</p>
            </li>
            <li>
                <p>„Ty i Ja spośród tysięcy<br>
                    mocno trzymamy się za ręce,<br>
                    niezwykły dzień, doniosła chwila<br>
                    i szept nieśmiały: miły... miła...<br>
                    Odtąd już razem zawsze i wszędzie.<br>
                    Tak miało być i tak niech będzie.”</p>

                <p class="author">Bolesław Leśmian</p>
            </li>
            <li>
                <p>„Uśmiechnięci, współobjęci<br>
                    spróbujemy szukać zgody<br>
                    choć różnimy się od siebie<br>
                    jak dwie krople czystej wody.”</p>

                <p class="author">Wisława Szymborska</p>
            </li>
            <li>
                <p>„Najlepszych i najpiękniejszych rzeczy na świecie, nie można ani zobaczyć ani dotknąć. Trzeba je poczuć sercem.”</p>

                <p class="author">Hellen Keller</p>
            </li>
            <li>
                <p>„Kochać, to nie znaczy patrzeć na siebie nawzajem lecz patrzeć razem w tym samym kierunku.”</p>

                <p class="author">Antoine de Saint-Exupery</p>
            </li>
            <li>
                <p>„Oto jest miłość.<br>
                    Dwoje ludzi spotyka się<br>
                    przypadkiem, a okazuje się,<br>
                    że czekali na siebie całe życie.”</p>

                <p class="author">Lima Barreto</p>
            </li>
            <li>
                <p>„Świt nas obudził obok siebie<br>
                    przez niedomknięte okiennice.<br>
                    Jesteśmy teraz dwojgiem ludzi,<br>
                    co mają wspólną tajemnicę.”</p>

                <p class="author">Jonasz Kofta</p>
            </li>
            <li>
                <p>„Są dwa serca.<br>
                    Ich ciągłe, nieustanne bicie<br>
                    zdaje się w dwóch jestestwach<br>
                    jedno tworzy życie.<br>
                    Łańcuch, który nas wiąże,<br>
                    los nie skruszy zmianą,<br>
                    będą bić zawsze razem<br>
                    albo bić przestaną.”</p>

                <p class="author">Lord Byron</p>
            </li>
            <li>
                <p>„Miłość to żaden film w żadnym kinie<br>
                    ani róże ani całusy małe, duże.<br>
                    Ale miłość - kiedy jedno spada w dół,<br>
                    drugie ciągnie je ku górze.”</p>

                <p class="author"><em>Zanim Pójdę</em> - Happysad</p>
            </li>
            <li>
                <p>Czy chcesz ze mną<br>
                    przeżyć dni wyniosłe?<br>
                    Odpowiesz: tak,<br>
                    bo ufasz mi szczerze.<br>
                    Lecz kiedy wszystko<br>
                    już będzie spełnione,<br>
                    Bądź dla mnie takim,<br>
                    w jakiego dziś wierzę!</p>

                <p>Czy zechcesz los swój<br>
                    złożyć w moich dłoniach?<br>
                    Odpowiesz: tak,<br>
                    bo serce mi dałaś.<br>
                    Lecz kiedy włos<br>
                    zbieleje na skroniach,<br>
                    Bądź mi tym wszystkim,<br>
                    czym dzisiaj być chciałaś.</p>
            </li>
            <li>
                <p>„Czy wiesz co to jest miłość?<br>
                    To tak jakby padał deszcz, po którym idziesz i nie wiesz, że pada, a potem czujesz, że przemokłeś do samego środka.<br>
                    Miłość jest najwyższym sensem istnienia.”</p>

                <p class="author">E. Hemingway</p>
            </li>
            <li>
                <p>„Zestarzej się przy mnie.<br>
                    Najlepsze dopiero się zdarzy.”</p>

                <p class="author">R. Browning</p>
            </li>
            <li>
                <p>„Miłość zaczyna się wtedy, kiedy szczęście drugiej osoby jest ważniejsze niż Twoje.”</p>

                <p class="author">J. W. von Goethe</p>
            </li>
            <li>
                <p>„Miłość prawdziwa zaczyna się wówczas, gdy niczego w zamian nie oczekujesz.”</p>

                <p class="author">Antoine de Saint-Exupéry</p>
            </li>
            <li>
                <p>„Wskrzesiła ich miłość, serce każdego z nich miało w sobie niewyczerpalne źródło życia dla serca drugiego.”</p>

                <p class="author">Zbrodnia i kara - Fiodor Dostojewski</p>
            </li>
            <li>
                <p>„Ludzka miłość zawiera się w tym, że dwie samotności nawzajem opiekują się sobą, łączą i żyją dla siebie.”</p>

                <p class="author">Rainer Maria Rilke</p>
            </li>
            <li>
                <p>„Kochać i być kochanym to tak, jakby z obu stron grzało nas słońce.”</p>

                <p class="author">Dr Davis Viscott</p>
            </li>
            <li>
                <p>„Aby znaleźć miłość, nie pukaj do każdych drzwi. Gdy przyjdzie twoja godzina, sama wejdzie do twego domu, w twe życie, do twego serca.”</p>

                <p class="author">Bob Dylan</p>
            </li>
            <li>
                <p>- A jeśli pewnego dnia będę musiał odejść? - spytał Krzyś, ściskając Misiową łapkę. - Co wtedy? - Nic wielkiego. - zapewnił go Puchatek. - Posiedzę tu sobie i na Ciebie poczekam. Kiedy się kogoś kocha, to ten drugi ktoś nigdy nie znika...</p>

                <p class="author">Kubuś Puchatek - Milne Alan Alexander</p>
            </li>
            <li>
                <p>„Miłość wybiera sobie małe miejsce, które rozjaśnia; wszystko pozostałe jest w jej cieniu.”</p>

                <p class="author">Johann Heinrich Pestalozzi</p>
            </li>
            <li>
                <p>„Udane małżeństwo zależy od dwóch rzeczy: od znalezienia właściwej osoby i od bycia właściwą osobą.”</p>

                <p class="author">H. Jackson Brown</p>
            </li>
            <li>
                <p>„Być zakochanym, to być szalonym przy zdrowych zmysłach.”</p>

                <p class="author">Owidiusz</p>
            </li>
            <li>
                <p>„Miłość jest pragnieniem, by komuś coś dawać - a nie otrzymywać.”</p>

                <p class="author">Bertold Brecht</p>
            </li>
        </ol>
    </div>
{% endblock %}
